@font-face {
    font-family: Inter-light;
    src: url(/src/Fonts/Inter-Light.ttf);
}
@font-face {
    font-family: Inter;
    src: url(/src/Fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-medium;
    src: url(/src/Fonts/Inter-Medium.ttf);
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.main{
    display: flex;
}
.left{
    background-color: #FFE259;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    font-family: Inter-medium;
    padding: 12px auto;
    height: 100vh;
}
.left img{
    width: 80%;
    position: relative;
    left: 4%;
}
.text{
    position: relative;
    left: 4%;
}
.text h1{
    font-size: 60px;
    margin-bottom: 0;
    font-family: Inter;
}
.text p{
    margin-top: 0;
    font-size: 25px;
    font-family: Inter-light;
}
/* THE RIGHT SIDE OF PAGE */
.right{
    width: 100%;
    padding-left: 4%;
    margin-top: 8%;
}
.text2 h1{
    font-size: 60px;
    margin-bottom: 0;
    font-family: Inter;
}
.text2 p{
    margin-top: 0;
    font-size: 25px;
    font-family: Inter-light;
}
.form{
    margin-top: 5%;
    width: 80%;
}
.top_form{
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}
a{
    text-decoration: none;
    color: #111;
    font-family: Inter;
    font-weight: 600;
    text-align: center;
}
Input{
    width: 52%;
    padding: 22px 20px;
    background-color: #E2E2E299;
    border: transparent;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
}
Button{
    width: 56%;
    padding: 22px 20px;
    border: transparent;
    font-size: 20px;
    font-family: Inter-medium;
    font-weight: 600;
    border-radius: 40px;
    background-color: #FFE259;
    margin-top: 20px;
}
/* .btn{
    position: relative;
    left: 4%;
} */



@media (max-width: 480px) {
    .left{
        display: none;
    }
    .right{
        height: 100vh;
        margin-top: 0;
        background-image: linear-gradient(to bottom, #FFE259, #FFA751);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text2{
        text-align: center;
    }
    .text2 h1{
        font-size: 32px;
    }
    .text2 p{
        font-size: 14px;
    }
    .from{
        margin-top: 0;
        display: flex;
        
    }
    Input{
        width: 90%;
        padding: 16px;
        padding-left: 16px;
        font-size: 14px;
    }
    Button{
        width: 94%;
        padding: 16px 10px;
        font-size: 16px;
    }
    a{
        font-size: 14px;
    }
}