.modal{
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.sub_modal{
    width: 420px;
    height: 380px;
    border-radius: 12px;
    background-color: #fff;
}
.addcustomer{
    background-image: linear-gradient(to right, #50C9C3, #96DEDA);
    height: max-content;
    padding: 8px 0px;
    display: flex;
    border-radius: 12px;
    justify-content: center;
}
.thing{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    align-items: center;
    padding: 0 16px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
}

@media (max-width: 399px) {
    .sub_modal{
        width: 260px;
    }
    .thing{
        font-size: 12px;
    }
    .thing div{
        width: 160px;
    }
    .buttons Button{
        width: 80px !important;
    }
}

@media (min-width: 400px) and (max-width: 699px) {
    .sub_modal{
        width: 360px;
    }
    .thing{
        font-size: 12px;
    }
    .thing div{
        width: 160px;
    }
    .buttons Button{
        width: 80px !important;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .buttons Button{
        width: 80px !important;
    }
}