@font-face {
    font-family: Inter-light;
    src: url(/src/Fonts/Inter-Light.ttf);
}
@font-face {
    font-family: Inter;
    src: url(/src/Fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-medium;
    src: url(/src/Fonts/Inter-Medium.ttf);
}
body {
    font-family: Inter;
    overflow-x: hidden;
}
.main_1 {
    display: flex;
    justify-content: center;
}
.sub_main_1 {
    height: 80px;
    width: 80%;
    background-image: linear-gradient(to right, #50C9C3, #96DEDA);
    margin-top: 6rem;
    border-radius: 22px 22px 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}
.heading h2 {
    font-family: Inter;
    font-size: 34px;
}

@media not all and (min-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .sub_main_1 {
        height: 50px;
        column-gap: 34px !important;
        justify-content: space-between;
    }
    .heading h2 {
        font-size: 16px;
    }
    button {
        /* width: 100px !important; */
        padding: 8px !important;
        font-size: 12px !important;
        width: 100% !important;
    }
    Button{
        gap: 4px !important;
    }
    .input{
        width: 200px !important;
        height: 28px !important;
        font-size: 14px;
        padding: 0 0 0 10px !important;
        border-radius: 8px !important;
    }
    Input{
        font-size: 14px !important;
    }
}

@media not all and (min-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .sub_main_1 {
        height: 50px;
        column-gap: 34px !important;
        justify-content: space-between;
    }
    .heading h2 {
        font-size: 16px;
    }
    button {
        /* width: 100px !important; */
        padding: 8px !important;
        font-size: 10px !important;
        width: 100% !important;
    }
    Button{
        gap: 4px !important;
    }
    .input{
        width: 120px !important;
        height: 28px !important;
        font-size: 12px;
        padding: 0 0 0 10px !important;
        border-radius: 8px !important;
    }
    Input{
        font-size: 12px !important;
    }
}

@media not all and (min-width: 640px) {
    body {
        overflow-x: hidden;
    }
    .sub_main_1 {
        height: 50px;
        column-gap: 34px !important;
        justify-content: space-between;
    }
    .heading h2 {
        font-size: 16px;
    }
    button {
        /* width: 100px !important; */
        padding: 8px !important;
        font-size: 10px !important;
        width: 100% !important;
    }
    Button{
        gap: 4px !important;
    }
    .input{
        width: 120px !important;
        height: 28px !important;
        font-size: 12px;
        padding: 0 0 0 10px !important;
        border-radius: 8px !important;
    }
    Input{
        font-size: 12px !important;
    }
}

@media not all and (min-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .sub_main_1 {
        height: 50px;
        column-gap: 34px !important;
        justify-content: space-between;
    }
    .heading h2 {
        font-size: 12px;
    }
    button {
        /* width: 100px !important; */
        padding: 6px !important;
        font-size: 10px !important;
        width: 100% !important;
        gap: 4px !important;
    }
    .table_btn{
        font-size: 8px !important;
    }
    .input{
        width: 80px !important;
        height: 22px !important;
        font-size: 10px;
        padding: 0 0 0 10px !important;
        border-radius: 8px !important;
    }
    Input{
        font-size: 10px !important;
    }
}

