@font-face {
    font-family: Inter-light;
    src: url(/src/Fonts/Inter-Light.ttf);
}
@font-face {
    font-family: Inter;
    src: url(/src/Fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-medium;
    src: url(/src/Fonts/Inter-Medium.ttf);
}
body {
    font-family: Inter;
    overflow-x: hidden;
}
.newtable {
    padding: 6px 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.newtable tr:nth-child(even) {
    background-color: #dddddd;
}
.newtable thead {
    color: #252525;
}
.newtable td, .newtable th {
    text-align: left;
    padding: 8px;
}

@media not all and (min-width: 1024px) {
    table {
        font-size: 14px;
    }
    .newtable td, th {
        padding: 2px;
    }
    /* button {
        display: none !important;
    } */
    .action {
        flex-direction: row;
    }
    .table {
        width: 83.5% !important;
    }
}

@media not all and (min-width: 768px) {
    table {
        font-size: 10px;
    }
    .newtable td, th {
        padding: 2px;
    }
    /* button {
        display: none !important;
    } */
    .action {
        flex-direction: row;
    }
    .table {
        width: 85.4% !important;
    }


}


@media not all and (min-width: 640px) {
    table {
        font-size: 10px;
    }
    .newtable td, th {
        padding: 2px;
    }
    /* button {
        display: none !important;
    } */
    .action {
        flex-direction: row;
    }
    .table {
        width: 85.4% !important;
    }


}

@media not all and (min-width: 480px) {
    table {
        font-size: 8px;
    }
    .newtable td, th {
        padding: 3px !important;
    }
    /* button {
        display: none !important;
    } */
    .action {
        flex-direction: row;
    }
    .table {
        width: 89.5% !important;
    }


}
