.sales_report_main{
    display: flex;
    justify-content: center;
    margin-top: 8rem;

}

@media not all and (min-width: 480px) {
    .sales_report_main{
        margin-top: 0rem;
        padding: 0 8px;
    }
    
}
@media not all and (min-width: 640px) {
    .sales_report_main{
        margin-top: 0rem;
        padding: 0 8px;
    }
    
}
@media not all and (min-width: 768px) {
    .sales_report_main{
        margin-top: 0rem;
        padding: 0 8px;
    }
    
}
@media not all and (min-width: 1024px) {
    .sales_report_main{
        margin-top: 0rem;
        padding: 0 8px;
    }
    
}